<div class="footer-container">
  <!-- Placeholder for tabbing feature, would turn the 'Back' and 'Next' into anchors for other index pages -->

  <!-- <div>
    Back
  </div> -->
  <div>
    Page 1 of 1
  </div>
  <!-- <div>
    Next
  </div> -->
</div>