  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <img height="60" width="auto" src="/assets/logoReverse.png" alt="ClipReel logo button">
    <a class="nav-anchor" href="/">
      Home
    </a>
    <a class="nav-anchor" href="/vods/login">
      Login
    </a>
    <a class="nav-anchor" href="/vods">
      Explore
    </a>
    <% if (user) { %>
      <a class="nav-anchor" href="/vods/new">
        Upload
      </a>
    <% } %>
  </nav>
