  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <a href="/">
      Home
    </a>
    <a href="/vods/login">
      Login
    </a>
    <a href="/vods">
      Explore
    </a>
    <a href="/vods/new">
      Upload
    </a>
  </nav>
