<div class="sidebar">
  <ul>
    <a href="/vods">
      1
    </a>
  </ul>
  <ul>
    <a href="/vods">
      2
    </a>
  </ul>
  <ul>
    <a href="/vods">
      3
    </a>
  </ul>
  <ul>
    <a href="/vods/new">
      404
    </a>
  </ul>
</div>