.container {
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
}

.main-title {
  padding: 10% 5% 5% 5%;
}

.index-container {
  padding: 5% 5% 5% 5%;
  display:flex;
  flex-wrap: wrap;
}

.footer-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  text-align: center;
}

.sidebar {
  background: rgb(31, 29, 29);
  grid-row: 1/4;
  text-align: center;
  height: 100%;
}
.sidebar a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 8px;
}

.sidebar a:hover {
  color: #1f1d1d;
  background-color: #f6f6f6;
}
