html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #3e3a39;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

nav {
  background-color: #2c2929;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.container {
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
}

.main-title {
  margin: 5% 0% 0% 5%;
  grid-column: 2;
  grid-row: 1;
}

.index-container {
  padding: 5% 5% 5% 5%;
  display:flex;
  flex-wrap: wrap;
  grid-column: 2;
  grid-row: 2/3;
}

.footer-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  text-align: center;
}

.sidebar {
  background: rgb(31, 29, 29);
  grid-row: 1/4;
  text-align: center;
  height: 100%;
}
.a-youtube-thumbnail {
  padding: 70px 10px 0px 10px;
}

.sidebar a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 8px;
}

.sidebar a:hover {
  color: #1f1d1d;
  background-color: #f6f6f6;
}

a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 8px;
}

a:hover {
  color: #1f1d1d;
  background-color: #f6f6f6;
}

