<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class = "container">
  <div class="index-container">
    <table>
      <thead>
        <tr>
          <td>
            <h1>Join ClipReel</h1>
          </td>
        </tr>
      </thead>
      <td>
        <%- include('../partials/login') %>
      </td>

    </table>
  </div>
</main>

<%- include('../partials/footer') %>